<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Job Application Tracker</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('render_home') }}">Home</a>
        <a href="{{ url_for('get_applications') }}">View all applications</a>
        <a href="{{ url_for('log_out') }}">Log out</a>
    </nav>
    {% if interviews %}
        <h1>Interviews for this application:</h1>
        {% for interview in interviews %}
            <div class="wrapper">
                <p>Interviewer: {{ interview.interviewer }}</p>
                <p>Date of interview: {{ interview.interview_date }}</p>
            </div>
        {% endfor %}
    {% endif %}
    {% if not interviews %}
        <h1>There are no interviews for this application.</h1>
    {% endif %}
</body>
</html>